{"swagger":"2.0","info":{"description":"Open API for all things wrestling.","version":"API TOS","title":"Centermat Wrestling API","termsOfService":"Terms of service","contact":{"name":"admin@centermatwrestling.com"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"api.centermatwrestling.com","basePath":"/","tags":[{"name":"Event Matchups","description":"<a href='http://www.centermatwrestling.com/components/components/cmw-components/'>Web Component</a>"},{"name":"Wrestler Records","description":"<a href='http://www.centermatwrestling.com/components/components/cmw-components/'>Web Component</a>"},{"name":"Bouts","description":"<a href='http://www.centermatwrestling.com/components/components/cmw-components/'>Web Component</a>"},{"name":"Events","description":"<a href='http://www.centermatwrestling.com/components/components/cmw-components/'>Web Component</a>"},{"name":"Wrestlers","description":"<a href='http://www.centermatwrestling.com/components/components/cmw-components/'>Web Component</a>"},{"name":"Teams","description":"<a href='http://www.centermatwrestling.com/components/components/cmw-components/'>Web Component</a>"},{"name":"user-rest-controller","description":"User Rest Controller"},{"name":"Competition Levels","description":"<a href='http://www.centermatwrestling.com/components/components/cmw-components/'>Web Component</a>"},{"name":"Authentication","description":" "},{"name":"Team Records","description":"<a href='http://www.centermatwrestling.com/components/components/cmw-components/'>Web Component</a>"}],"paths":{"/api/v1/bouts":{"get":{"tags":["Bouts"],"summary":"Collection of type","operationId":"getUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","default":100,"format":"int32"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«Bout»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Bouts"],"summary":"Create instance of type","operationId":"postUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/Bout"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/bouts/bulk":{"post":{"tags":["Bouts"],"summary":"Create bulk instances of type","operationId":"postBulkUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"b","description":"b","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Bout"}}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/bouts/example":{"get":{"tags":["Bouts"],"summary":"Sample/Example of type","operationId":"getExampleUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Bout"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/bouts/schema":{"get":{"tags":["Bouts"],"summary":"Schema definition","operationId":"getSchemaUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JsonSchema"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/bouts/{id}":{"get":{"tags":["Bouts"],"summary":"Single instance of type","operationId":"getUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Bout"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Bouts"],"summary":"Update instance of type","operationId":"putUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/Bout"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["Bouts"],"summary":"Delete instance of type","operationId":"deleteUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/competitionLevels":{"get":{"tags":["Competition Levels"],"summary":"Collection of type","operationId":"getUsingGET_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","default":100,"format":"int32"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«CompetitionLevel»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Competition Levels"],"summary":"Create instance of type","operationId":"postUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/CompetitionLevel"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/competitionLevels/bulk":{"post":{"tags":["Competition Levels"],"summary":"Create bulk instances of type","operationId":"postBulkUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"b","description":"b","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CompetitionLevel"}}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/competitionLevels/example":{"get":{"tags":["Competition Levels"],"summary":"Sample/Example of type","operationId":"getExampleUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompetitionLevel"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/competitionLevels/schema":{"get":{"tags":["Competition Levels"],"summary":"Schema definition","operationId":"getSchemaUsingGET_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JsonSchema"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/competitionLevels/{id}":{"get":{"tags":["Competition Levels"],"summary":"Single instance of type","operationId":"getUsingGET_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompetitionLevel"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Competition Levels"],"summary":"Update instance of type","operationId":"putUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/CompetitionLevel"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["Competition Levels"],"summary":"Delete instance of type","operationId":"deleteUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/eventMatchups":{"get":{"tags":["Event Matchups"],"summary":"Collection of type","operationId":"getUsingGET_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","default":100,"format":"int32"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«EventMatchup»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Event Matchups"],"summary":"Create instance of type","operationId":"postUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/EventMatchup"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/eventMatchups/bulk":{"post":{"tags":["Event Matchups"],"summary":"Create bulk instances of type","operationId":"postBulkUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"b","description":"b","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/EventMatchup"}}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/eventMatchups/example":{"get":{"tags":["Event Matchups"],"summary":"Sample/Example of type","operationId":"getExampleUsingGET_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventMatchup"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/eventMatchups/schema":{"get":{"tags":["Event Matchups"],"summary":"Schema definition","operationId":"getSchemaUsingGET_2","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JsonSchema"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/eventMatchups/{id}":{"get":{"tags":["Event Matchups"],"summary":"Single instance of type","operationId":"getUsingGET_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventMatchup"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Event Matchups"],"summary":"Update instance of type","operationId":"putUsingPUT_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/EventMatchup"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["Event Matchups"],"summary":"Delete instance of type","operationId":"deleteUsingDELETE_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/eventMatchups/{id}/bouts":{"get":{"tags":["Event Matchups"],"summary":"bouts","operationId":"boutsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Bout"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/events":{"get":{"tags":["Events"],"summary":"Collection of type","operationId":"getUsingGET_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","default":100,"format":"int32"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«Event»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Events"],"summary":"Create instance of type","operationId":"postUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/Event"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/events/bulk":{"post":{"tags":["Events"],"summary":"Create bulk instances of type","operationId":"postBulkUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"b","description":"b","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Event"}}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/events/example":{"get":{"tags":["Events"],"summary":"Sample/Example of type","operationId":"getExampleUsingGET_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/events/schema":{"get":{"tags":["Events"],"summary":"Schema definition","operationId":"getSchemaUsingGET_3","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JsonSchema"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/events/{id}":{"get":{"tags":["Events"],"summary":"Single instance of type","operationId":"getUsingGET_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Events"],"summary":"Update instance of type","operationId":"putUsingPUT_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/Event"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["Events"],"summary":"Delete instance of type","operationId":"deleteUsingDELETE_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/events/{id}/matchups":{"get":{"tags":["Events"],"summary":"Matchups associated with Event","operationId":"getMatchupsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EventMatchup"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/teamRecords":{"get":{"tags":["Team Records"],"summary":"Collection of type","operationId":"getUsingGET_9","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","default":100,"format":"int32"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«TeamRecord»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Team Records"],"summary":"Create instance of type","operationId":"postUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/TeamRecord"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/teamRecords/bulk":{"post":{"tags":["Team Records"],"summary":"Create bulk instances of type","operationId":"postBulkUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"b","description":"b","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/TeamRecord"}}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/teamRecords/example":{"get":{"tags":["Team Records"],"summary":"Sample/Example of type","operationId":"getExampleUsingGET_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TeamRecord"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/teamRecords/schema":{"get":{"tags":["Team Records"],"summary":"Schema definition","operationId":"getSchemaUsingGET_4","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JsonSchema"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/teamRecords/{id}":{"get":{"tags":["Team Records"],"summary":"Single instance of type","operationId":"getUsingGET_8","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TeamRecord"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Team Records"],"summary":"Update instance of type","operationId":"putUsingPUT_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/TeamRecord"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["Team Records"],"summary":"Delete instance of type","operationId":"deleteUsingDELETE_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/teams":{"get":{"tags":["Teams"],"summary":"Collection of type","operationId":"getUsingGET_11","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","default":100,"format":"int32"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«Team»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Teams"],"summary":"Create instance of type","operationId":"postUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/Team"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/teams/bulk":{"post":{"tags":["Teams"],"summary":"Create bulk instances of type","operationId":"postBulkUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"b","description":"b","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Team"}}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/teams/example":{"get":{"tags":["Teams"],"summary":"Sample/Example of type","operationId":"getExampleUsingGET_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Team"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/teams/schema":{"get":{"tags":["Teams"],"summary":"Schema definition","operationId":"getSchemaUsingGET_5","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JsonSchema"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/teams/{id}":{"get":{"tags":["Teams"],"summary":"Single instance of type","operationId":"getUsingGET_10","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Team"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Teams"],"summary":"Update instance of type","operationId":"putUsingPUT_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/Team"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["Teams"],"summary":"Delete instance of type","operationId":"deleteUsingDELETE_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/teams/{id}/roster":{"post":{"tags":["Teams"],"summary":"Update instance of type","operationId":"postRosterUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/Wrestler"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/teams/{id}/roster/{wrestlerId}":{"put":{"tags":["Teams"],"summary":"Create instance of type","operationId":"putRosterUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"wrestlerId","in":"path","description":"wrestlerId","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/Wrestler"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/teams/{id}/roster/{year}":{"get":{"tags":["Teams"],"summary":"Returns roster for provided team","description":"Year param must be a valid 4 digit date. ie 2016-2017 would be 2017. latest as year value will return latest defined season","operationId":"rosterUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"year","in":"path","description":"year","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Wrestler"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/teams/{id}/schedule/{year}":{"get":{"tags":["Teams"],"summary":"Returns schedule for provided team","description":"Year param must be a valid 4 digit date. ie 2016-2017 would be 2017. latest as year value will return latest defined season","operationId":"scheduleUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"year","in":"path","description":"year","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Event"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/wrestlerRecords":{"get":{"tags":["Wrestler Records"],"summary":"Collection of type","operationId":"getUsingGET_13","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","default":100,"format":"int32"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«WrestlerRecord»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Wrestler Records"],"summary":"Create instance of type","operationId":"postUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/WrestlerRecord"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/wrestlerRecords/bulk":{"post":{"tags":["Wrestler Records"],"summary":"Create bulk instances of type","operationId":"postBulkUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"b","description":"b","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WrestlerRecord"}}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/wrestlerRecords/example":{"get":{"tags":["Wrestler Records"],"summary":"Sample/Example of type","operationId":"getExampleUsingGET_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WrestlerRecord"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/wrestlerRecords/schema":{"get":{"tags":["Wrestler Records"],"summary":"Schema definition","operationId":"getSchemaUsingGET_6","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JsonSchema"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/wrestlerRecords/{id}":{"get":{"tags":["Wrestler Records"],"summary":"Single instance of type","operationId":"getUsingGET_12","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WrestlerRecord"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Wrestler Records"],"summary":"Update instance of type","operationId":"putUsingPUT_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/WrestlerRecord"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["Wrestler Records"],"summary":"Delete instance of type","operationId":"deleteUsingDELETE_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/wrestlers":{"get":{"tags":["Wrestlers"],"summary":"Collection of type","operationId":"getUsingGET_15","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","default":100,"format":"int32"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«Wrestler»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Wrestlers"],"summary":"Create instance of type","operationId":"postUsingPOST_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/Wrestler"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/wrestlers/bulk":{"post":{"tags":["Wrestlers"],"summary":"Create bulk instances of type","operationId":"postBulkUsingPOST_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"b","description":"b","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Wrestler"}}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/wrestlers/example":{"get":{"tags":["Wrestlers"],"summary":"Sample/Example of type","operationId":"getExampleUsingGET_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Wrestler"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/wrestlers/schema":{"get":{"tags":["Wrestlers"],"summary":"Schema definition","operationId":"getSchemaUsingGET_7","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JsonSchema"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/wrestlers/{id}":{"get":{"tags":["Wrestlers"],"summary":"Single instance of type","operationId":"getUsingGET_14","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"fields","in":"query","description":"fields","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Wrestler"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Wrestlers"],"summary":"Update instance of type","operationId":"putUsingPUT_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/Wrestler"}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["Wrestlers"],"summary":"Delete instance of type","operationId":"deleteUsingDELETE_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/auth":{"post":{"tags":["Authentication"],"summary":"createAuthenticationToken","operationId":"createAuthenticationTokenUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"authenticationRequest","description":"authenticationRequest","required":true,"schema":{"$ref":"#/definitions/JwtAuthenticationRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/refresh":{"get":{"tags":["Authentication"],"summary":"refreshAndGetAuthenticationToken","operationId":"refreshAndGetAuthenticationTokenUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/user":{"get":{"tags":["user-rest-controller"],"summary":"getAuthenticatedUser","operationId":"getAuthenticatedUserUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JwtUser"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"BoutMatchup":{"type":"object","required":["id"],"properties":{"id":{"type":"string"},"link":{"type":"string"},"score":{"type":"integer","format":"int32"},"winner":{"type":"boolean"},"wrestler":{"$ref":"#/definitions/Wrestler"}}},"WrestlerRecord":{"type":"object","required":["id"],"properties":{"competitionLevelId":{"type":"string"},"id":{"type":"string"},"link":{"type":"string"},"loses":{"type":"integer","format":"int32"},"weightClass":{"$ref":"#/definitions/WeightClass"},"winTypeCounts":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}},"wins":{"type":"integer","format":"int32"},"wrestlerId":{"type":"string"},"year":{"type":"integer","format":"int32"}}},"JsonSchema":{"type":"object"},"CompetitionLevel":{"type":"object","required":["id"],"properties":{"id":{"type":"string"},"link":{"type":"string"},"logoPath":{"type":"string"},"name":{"type":"string"},"parentTier":{"type":"string"},"tier":{"type":"integer","format":"int32"}}},"EventMatchup":{"type":"object","required":["id"],"properties":{"eventId":{"type":"string"},"id":{"type":"string"},"link":{"type":"string"},"teams":{"type":"array","items":{"$ref":"#/definitions/TeamMatchup"}}}},"TeamMatchup":{"type":"object","required":["id"],"properties":{"home":{"type":"boolean"},"id":{"type":"string"},"link":{"type":"string"},"score":{"type":"integer","format":"int32"},"team":{"$ref":"#/definitions/Team"},"teamId":{"type":"string"},"winner":{"type":"boolean"}}},"Collection«GrantedAuthority»":{"type":"object"},"Page«TeamRecord»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/TeamRecord"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"Bout":{"type":"object","required":["id"],"properties":{"boutMatchupList":{"type":"array","items":{"$ref":"#/definitions/BoutMatchup"}},"eventId":{"type":"string"},"eventMatchupId":{"type":"string"},"id":{"type":"string"},"link":{"type":"string"},"weightClass":{"$ref":"#/definitions/WeightClass"}}},"Page«CompetitionLevel»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/CompetitionLevel"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"Sort":{"type":"object"},"Team":{"type":"object","required":["id"],"properties":{"abbr":{"type":"string"},"conferenceId":{"type":"string"},"id":{"type":"string"},"levelOfPlayId":{"type":"string"},"link":{"type":"string"},"logoPath":{"type":"string"},"name":{"type":"string"},"primaryColor":{"type":"string"},"secondaryColor":{"type":"string"},"shortName":{"type":"string"}}},"Collection«string»":{"type":"object"},"Page«Bout»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/Bout"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"GrantedAuthority":{"type":"object","properties":{"authority":{"type":"string"}}},"Page«Team»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/Team"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"TeamRecord":{"type":"object","required":["id"],"properties":{"competitionLevelId":{"type":"string"},"id":{"type":"string"},"link":{"type":"string"},"loses":{"type":"integer","format":"int32"},"teamId":{"type":"string"},"wins":{"type":"integer","format":"int32"},"year":{"type":"integer","format":"int32"}}},"JwtAuthenticationRequest":{"type":"object","properties":{"password":{"type":"string"},"username":{"type":"string"}}},"Page«Wrestler»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/Wrestler"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"WeightClass":{"type":"object","properties":{"suffix":{"type":"string"},"weight":{"type":"integer","format":"int32"}}},"Event":{"type":"object","required":["id","name","startDate"],"properties":{"endDate":{"type":"string","format":"date-time"},"id":{"type":"string"},"link":{"type":"string"},"logoPath":{"type":"string"},"matchupsLink":{"type":"string"},"name":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"teamIds":{"$ref":"#/definitions/Collection«string»"},"type":{"type":"string","enum":["DUAL","DUAL_TOURNAMENT","CLASSIC_TOURNAMENT","TOURNAMENT_DUAL","TOURNAMENT_DUAL_POOL"]},"year":{"type":"integer","format":"int32"}}},"JwtUser":{"type":"object","properties":{"authorities":{"$ref":"#/definitions/Collection«GrantedAuthority»"},"email":{"type":"string"},"enabled":{"type":"boolean"},"firstname":{"type":"string"},"lastname":{"type":"string"},"username":{"type":"string"}}},"Page«Event»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/Event"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"Page«WrestlerRecord»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/WrestlerRecord"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"Wrestler":{"type":"object","required":["id"],"properties":{"firstName":{"type":"string"},"id":{"type":"string"},"lastName":{"type":"string"},"link":{"type":"string"},"team":{"$ref":"#/definitions/Team"},"teamId":{"type":"string"}}},"Page«EventMatchup»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/EventMatchup"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}}}}